page-tables {
	/**
	* LAPTOP and up (992px)
	*/
	.tables-header{
		color: goldenrod
	}
	.page-background{
		background-color: #333333;
		color: goldenrod;
		//overflow-x: scroll;

		h2 {
			color: goldenrod;
			background-color: map-get($colors, primary-grey);
		}

		td {
			word-wrap: break-word;
			//border: 1px solid black;
		}
	}

	.record-card{
		color: map-get($colors, primary-dark);
		display: flex;
    	justify-content: center;
	}

	@media (min-width: map-get($grid-breakpoints, lg)) {

	}
	
	/**
	* IPAD and up (796px)
	*/
	@media (min-width: map-get($grid-breakpoints, md)) {

	}

}
