<!--
  Generated template for the TablesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="tables-header">

  <ion-navbar color="primary-black">
  	<button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <h3 text-center>Data Records</h3>
  </ion-navbar>

</ion-header>

<ion-content class="page-background">
  <ion-grid>
    <ion-row align-items-stretch>
        <ion-col col-12 col-md-6 align-self-stretch align-self-center>
          <record-card>
            <div class="flash-card-front">Business in the Front</div>
          
            <div class="flash-card-back">Party in the Back</div>
          </record-card>

          <record-card>
            <div class="flash-card-front">Business in the Front</div>
          
            <div class="flash-card-back">Party in the Back</div>
          </record-card>

          <record-card>
              <div class="flash-card-front">Business in the Front</div>
            
              <div class="flash-card-back">Party in the Back</div>
          </record-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!--ion-content padding class="tables-content">
  <button ion-button (click)="saveCsv()" color="secondary">Export</button>
  <ion-item *ngFor="let queryResult of queryResults" align="justify" class="tables-content" loadingSpinner="bubbles" >
    <h1>{{ queryResult.get('fname') }}</h1>
    <p>{{ queryResult.get('lname') }}</p>
  </ion-item>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(listQuery())">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content-->


  <!--table>
      <tr align="justify">
        <th>Name</th>
        <th>Last Name</th>
        <th>Sex</th>
      </tr>
      <tr *ngFor="let queryResult of queryResults" align="justify">
        <td>{{ queryResult.get('fname') }}</td>
        <td>{{ queryResult.get('lname') }}</td>
        <td>{{ queryResult.get('sex') }}</td>
      </tr>
    </table-->