page-tables {
	/**
	* LAPTOP and up (992px)
	*/
	.tables-header{
		color: goldenrod
	}
	.tables-content{
		background-color: #333333;
		color: goldenrod;
		overflow-x: scroll;
	}

	@media (min-width: map-get($grid-breakpoints, lg)) {

	}
	
	/**
	* IPAD and up (796px)
	*/
	@media (min-width: map-get($grid-breakpoints, md)) {

	}

}
