page-maps {
	.maps-header{
		color: goldenrod
	}
	.maps-content{
		background-color: #333333;
		color: goldenrod
	}
	
	/**
	* LAPTOP and up (992px)
	*/
	@media (min-width: map-get($grid-breakpoints, lg)) {

	}
	
	/**
	* IPAD and up (796px)
	*/
	@media (min-width: map-get($grid-breakpoints, md)) {

	}

}
